.status {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  padding: 0.5rem 0;

  .block {
    width: 24px;
    height: 24px;
    border: 1px solid black;
  }
  .label {
    margin-left: 5px;
    font-size: 11px;
  }
}

button.status {
  background: none;
  border: none;
  outline: none;
}

.status-block {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.slip {
  margin-bottom: 1rem;
  border: 1px solid black;
  .line,
  .draw,
  .description {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .description {
    margin-top: 10px;
    margin-right: 10px;
    :last-child {
      margin-left: 55px;
    }
  }
  .player {
    padding: 16px;
  }
  .score {
    border-bottom: 1px solid black;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin-right: 40px;
    line-height: 36px;
    text-align: center;
  }
  .draw .score {
    margin-right: 60px;
  }
  .name,
  .push {
    flex: 1 1 auto;
    margin-right: 10px;
  }
  .drop {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 20px;
    &.hasDropped {
      background: black;
    }
  }
}
.actions {
  button {
    width: 100%;
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
  margin-bottom: 1rem;
}
