<ng-container *ngIf="table">
  <div class="panel-title">Table {{ table.id }}</div>
  <div class="panel-subtitle">Status</div>
  <div class="status-block">
    <button class="status" (click)="changeStatus()">
      <div [class]="'block ' + table.status"></div>
      <div class="label">{{ table.status }}</div>
    </button>
    <div class="status" *ngIf="!table.stageHasPaper">
      <mat-icon>desktop_access_disabled</mat-icon>
      <div class="label">Paper not on stage</div>
    </div>
    <div class="status" *ngIf="table.stageHasPaper">
      <mat-icon>desktop_windows</mat-icon>
      <div class="label">Paper on stage</div>
    </div>
    <button class="status" (click)="onTimeClick()">
      <mat-icon>alarm</mat-icon>
      <div class="label">10min</div>
    </button>
  </div>

  <div class="panel-subtitle">Actions</div>
</ng-container>
