<ng-container *ngIf="(table$ | async) as t">
  <div class="panel-title">Table {{ t.id }}</div>
  <div class="panel-subtitle">Status</div>
  <div class="status-block">
    <button class="status" [matMenuTriggerFor]="statusMenu">
      <div [class]="'block ' + t.status"></div>
      <div class="label">{{ t.status }}</div>
    </button>
    <mat-menu #statusMenu="matMenu">
      <button class="status" mat-menu-item *ngFor="let s of status" (click)="updateStatus(t, s)">
        <div [class]="'block ' + s"></div>
        <div class="label">{{ s }}</div>
      </button>
    </mat-menu>
    <div class="status" *ngIf="!t.stageHasPaper">
      <mat-icon>desktop_access_disabled</mat-icon>
      <div class="label">Paper not on stage</div>
    </div>
    <div class="status" *ngIf="t.stageHasPaper">
      <mat-icon>desktop_windows</mat-icon>
      <div class="label">Paper on stage</div>
    </div>
    <button class="status" (click)="onTimeClick()">
      <mat-icon>alarm</mat-icon>
      <div class="label">{{ t.time || 0 }}min</div>
    </button>
  </div>
  <ng-container *ngIf="table.player1 && table.player2">
    <div class="panel-subtitle">Virtual Paper Slip</div>
    <div class="slip">
      <div class="description">
        <div class="push"></div>
        <div>Win</div>
        <div>Drop?</div>
      </div>
      <div class="player line">
        <div class="name">{{ table.player1.name }}</div>
        <div class="score">{{ table.result && table.result.player1.score }}</div>
        <div class="drop" [class.hasDropped]="table.result && table.result.player1.drop"></div>
      </div>
      <div class="draw">
        <div class="push"></div>
        <div class="score">{{ table.result && table.result.draw }}</div>
      </div>
      <div class="player line">
        <div class="name">{{ table.player2.name }}</div>
        <div class="score">{{ table.result && table.result.player2.score }}</div>
        <div class="drop" [class.hasDropped]="table.result && table.result.player2.drop"></div>
      </div>
    </div>
  </ng-container>
  <div class="panel-subtitle">Actions</div>
</ng-container>
