<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let tournament of (tournaments$ | async)"
    [routerLink]="['tournament', tournament.key]"
  >
    <div matLine>
      <p class="heading">{{ tournament.name }}</p>
    </div>
    <div matLine>
      <p class="info">
        <span class="label">Last day: </span> <span>{{ tournament.endDate | date }}</span>
      </p>
    </div>
    <div matLine>
      <p class="info">
        <span class="label">Admins: </span>
        <ng-container *ngFor="let admin of tournament.staff.admins; let last = last">
          <span>{{ admin | user }}</span> <span *ngIf="!last">, </span>
        </ng-container>
      </p>
    </div>
  </a>
</mat-nav-list>
<div class="actions">
  <a
    *ngIf="canCreateTournament$"
    mat-flat-button
    color="primary"
    [routerLink]="['/administration/create']"
    >Create a new tournament</a
  >
</div>
