@import '~@angular/material/theming';

@mixin login-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  login {
    .container {
      background-color: mat-color($primary, 50);
      .card {
        background-color: white;
        .header {
          background-color: mat-color($primary);
        }
        .content {
          .title {
            color: mat-color($accent);
          }
          strong {
            color: mat-color($accent);
          }
        }
      }
    }
  }
}
