:host {
  display: flex;
  align-items: center;
}
.clock {
  flex: 1;
  text-align: center;
  &.interactive {
    cursor: pointer;
  }
  font-size: 18px;
}

.active::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 5px;
  right: 0;
}
