<div
  *ngIf="(canEditClock$ | async); else nonInteractiveClock"
  class="clock interactive"
  (click)="onClockClick()"
>
  {{ clock$ | async }}
</div>
<ng-template #nonInteractiveClock>
  <div class="clock">{{ clock$ | async }}</div>
</ng-template>
<button mat-icon-button (click)="onChatClick()" [disabled]="disabled">
  <mat-icon svgIcon="chat"></mat-icon>
</button>
<button
  mat-icon-button
  [disabled]="disabled"
  [class.active]="isFiltersActive$ | async"
  (click)="onFiltersClick()"
>
  <mat-icon>filter_list</mat-icon>
</button>
<button mat-icon-button [disabled]="disabled" (click)="onDisplayClick()">
  <mat-icon *ngIf="viewMode === 'actions'">view_comfy</mat-icon>
  <mat-icon *ngIf="viewMode === 'small'">view_agenda</mat-icon>
  <mat-icon *ngIf="viewMode === 'large'">alarm</mat-icon>
</button>
<button mat-icon-button [disabled]="disabled" (click)="onActionsClick()">
  <mat-icon>more_vert</mat-icon>
</button>
