@import 'utils/colors';

:host {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .mat-form-field {
    width: 40px;
  }
}

button mat-icon {
  margin-right: 0.5em;
}

.actions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
