<h1 class="panel-title">Clock</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="MM"
      required
      [(ngModel)]="clockMinutes"
      name="clock-minutes"
      type="number"
      max="100"
      min="0"
    /> </mat-form-field
  >:
  <mat-form-field>
    <input
      matInput
      placeholder="SS"
      required
      [(ngModel)]="clockSeconds"
      name="clock-seconds"
      type="number"
      max="59"
      min="0"
    />
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary">
    <mat-icon>alarm</mat-icon>
    <span>Set</span>
  </button>
</form>

<hr />

<div class="actions">
  <button type="button" mat-flat-button color="warn" (click)="onReset()">
    <mat-icon>alarm_off</mat-icon>
    <span>Reset</span>
  </button>
</div>
