@import '~@angular/material/theming';

:host {
  display: block;
  height: 150px;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  @include mat-elevation(2);
  &.selected {
    @include mat-elevation(0);
  }
}
