@import './_theme';

$primaryPalette: map-get($eor-theme, primary);
$accentPalette: map-get($eor-theme, accent);
$warnPalette: map-get($eor-theme, warn);

$primary: mat-color($primaryPalette);
$accent: mat-color($accentPalette);
$warn: mat-color($warnPalette);

$unknown: white;
$done: #4cb25d;
$playing: #e14a31;
$covered: #eba91d;
$extra-timed: darkblue;
$featured: grey;

$background: map-get($eor-theme, background);
$backgroundColor: mat-color($background, background);
