@import 'utils/_colors';
@import 'utils/_responsive';

:host {
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  box-sizing: border-box;
  padding: 0.5em;
  @include responsive(
    'width',
    (
      xs: 20%,
      sm: 10%,
      lg: 5%,
    )
  );
  height: 60px;
}
