@import 'utils/_colors';
@import 'utils/_responsive';

:host {
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  box-sizing: border-box;
  padding: 0.5em;
  &.small {
    @include responsive(
      'width',
      (
        xs: 20%,
        sm: 10%,
        lg: 5%,
      )
    );
    height: 60px;
  }
  &.medium {
    @include responsive(
      'width',
      (
        xs: 50%,
        sm: 33%,
        lg: 20%,
      )
    );
    height: 60px;
  }
  &.large {
    flex-direction: row;
    .info {
      flex: 1 1 auto;
      @include responsive(
        'padding',
        (
          xs: 0.5rem,
          lg: 1rem,
        )
      );
      @include responsive(
        'align-self',
        (
          xs: center,
          lg: flex-start,
        )
      );
      > *:not(:first-child) {
        margin-top: 5px;
      }
    }
    .actions {
      padding: 1rem;
    }
    @include responsive(
      'width',
      (
        xs: 90%,
        md: 40%,
        lg: 30%,
      )
    );
    @include responsive(
      'margin-left',
      (
        xs: 5%,
        lg: 1.5%,
      )
    );
    @include responsive(
      'margin-right',
      (
        xs: 5%,
        lg: 1.5%,
      )
    );
    margin-bottom: 1rem;
    @include responsive(
      'height',
      (
        xs: 130px,
        lg: 100px,
      )
    );
  }
}
