@import '~@angular/material/theming';

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-sidenav {
    .user {
      background-color: mat-color($primary, 50);
    }
  }
}
