@import 'utils/media';
@import 'utils/colors';

:host {
  display: flex;
  justify-content: center;
}

.step {
  @include mobile {
    flex: 1;
  }
  @include desktop {
    width: 400px;
    margin-top: 2em;
    padding: 2em;
  }
  width: 100%;
}

mat-form-field.full-width {
  width: 100%;
}

h1.title,
h2.title {
  text-transform: uppercase;
  font-weight: bold;
  color: $primary;
}
h1.title {
  font-size: 20px;
  margin-bottom: 0.5em;
}
h2.title {
  font-size: 16px;
}
.zone-title {
  font-weight: bold;
  font-size: 18px;
  color: $accent;
  &.zone-title-error {
    color: $warn;
  }
}

p.subtitle {
  font-style: italic;
  margin-bottom: 0.5em;
}

.subheader {
  display: flex;
  h2 {
    flex: 1;
  }
  align-items: center;
}

p.form-field {
  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

.actions {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.sections {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      margin-right: 1em;
    }
    margin-bottom: 0.5em;
  }
  .section {
    display: flex;
    align-items: center;
    mat-form-field {
      flex: 1;
      padding-right: 0.5em;
      padding-left: 0.5em;
      /deep/ .mat-form-field-infix {
        width: auto;
      }
    }
  }
}

/deep/ .mat-expansion-panel-header {
  .mat-content {
    align-items: center;
  }
  .mat-expansion-panel-header-description {
    align-items: center;
    margin-right: -10px;
  }
}

.summary {
  flex: 1;
  font-size: 12px;
}

mat-accordion {
  display: block;
  margin-bottom: 1.5em;
}

select-users {
  width: 100%;
}

.error {
  color: mat-contrast($warnPalette, 500);
  background: $warn;
  display: flex;
  align-items: center;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1em;
  &__text {
    flex-grow: 1;
    margin-left: 1em;
  }
}
