@import '~@angular/material/theming';

@mixin administration-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  administration {
    h1.title,
    h2.title {
      color: mat-color($primary);
    }
    .zone-title {
      color: mat-color($accent);
    }
  }
}
