<div class="zone-infos" *ngIf="(zoneInfos$ | async) as zoneInfos" cdk-scrollable>
  <ng-container *ngFor="let info$ of zoneInfos; let arrayIndex = index; trackBy: trackbyIndexFn">
    <ng-container *ngIf="(info$ | async) as info">
      <zone-info
        [info]="info"
        [selected]="info.id === zoneInfoSelected"
        class="zone-info"
        (click)="onZoneInfoClick(info.id, arrayIndex)"
      ></zone-info>
    </ng-container>
  </ng-container>
  <div class="push"></div>
</div>
<div class="zones" *ngIf="(zoneTables$ | async) as zoneTables">
  <ng-container *ngFor="let zone of (zones$ | async); let zoneIndex = index">
    <div class="zone" *ngIf="zoneInfoSelected === null || zoneInfoSelected === zoneIndex">
      <div class="zone_title">{{ zone.name }}</div>
      <div class="section" *ngFor="let section of zone.sections; let sectionIndex = index">
        <table
          [table]="table"
          class="table"
          *ngFor="let table of (zoneTables[zoneIndex][sectionIndex] | async); trackBy: trackbyIdFn"
        ></table>
      </div>
    </div>
  </ng-container>
</div>

<div class="block playing"></div>
<div class=""></div>
<ng-template #header let-disabled="disabled">
  <tournament-header
    [disabled]="disabled"
    (editClock)="onEditClock()"
    (editSettings)="onEditSettings()"
  ></tournament-header>
</ng-template>
<ng-template #menuHeader>{{ (tournament$ | async)?.name }}</ng-template>
<ng-template #clock><clock-panel (clockSet)="closePanel()"></clock-panel></ng-template>
<ng-template #settings><settings-panel></settings-panel></ng-template>
