<div class="zones" *ngIf="(zoneTables$ | async) as zoneTables">
  <div class="zone" *ngFor="let zone of (zones$ | async); let zoneIndex = index">
    <div class="zone_title">{{ zone.name }}</div>
    <div class="section" *ngFor="let section of zone.sections; let sectionIndex = index">
      <table
        [table]="table"
        class="table"
        *ngFor="let table of (zoneTables[zoneIndex][sectionIndex] | async)"
      ></table>
    </div>
  </div>
</div>

<div class="block playing"></div>
<div class=""></div>
<ng-template #header>
  <tournament-header (editClock)="onEditClock()"></tournament-header>
</ng-template>
<ng-template #menuHeader>{{ (tournament$ | async)?.name }}</ng-template>
<ng-template #clock><clock (clockSet)="closePanel()"></clock></ng-template>
