<div class="zones" *ngIf="(zoneTables$ | async) as zoneTables">
  <div class="zone" *ngFor="let zone of (zones$ | async); let zoneIndex = index">
    <div class="zone_title">{{ zone.name }}</div>
    <div class="section" *ngFor="let section of zone.sections; let sectionIndex = index">
      <table
        [table]="table"
        class="table"
        *ngFor="let table of (zoneTables[zoneIndex][sectionIndex] | async)"
      ></table>
    </div>
  </div>
</div>

<div class="block playing"></div>
<div class=""></div>
<ng-template #header let-disabled="disabled">
  <tournament-header
    [disabled]="disabled"
    (editClock)="onEditClock()"
    (editSettings)="onEditSettings()"
  ></tournament-header>
</ng-template>
<ng-template #menuHeader>{{ (tournament$ | async)?.name }}</ng-template>
<ng-template #clock><clock-panel (clockSet)="closePanel()"></clock-panel></ng-template>
<ng-template #settings><settings-panel></settings-panel></ng-template>
