<div class="panel-title">Add time</div>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="table">
    <mat-form-field>
      <input
        matInput
        placeholder="Table"
        required
        (ngModelChange)="onTableNumberChange($event)"
        [(ngModel)]="tableNumber"
        name="tableNumber"
        type="number"
        min="0"
        #tableNumberInput
      />
    </mat-form-field>
    <div class="push"></div>
    <ng-container *ngIf="(currentTable$ | async) as currentTable; else noTable">
      <div class="table-info" *ngIf="!(isLoading$ | async); else searching">
        Current: {{ currentTable.time || 0 }}min
      </div>
    </ng-container>
    <ng-template #noTable>No table</ng-template>
    <ng-template #searching>Searching</ng-template>
  </div>
  <div class="time">
    <mat-form-field>
      <input
        matInput
        placeholder="Time"
        required
        [(ngModel)]="time"
        name="time"
        type="number"
        max="100"
        min="0"
        #timeInput
      />
    </mat-form-field>
    <div class="push"></div>
    <div class="submit-buttons">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!(currentTable$ | async) || (isLoading$ | async)"
      >
        <mat-icon>alarm</mat-icon>
        <span>Add</span>
      </button>
      <button
        *ngIf="(currentTable$ | async)?.time > 0"
        type="submit"
        mat-flat-button
        color="accent"
        [disabled]="!(currentTable$ | async) || (isLoading$ | async)"
      >
        <mat-icon>alarm</mat-icon>
        <span>Set</span>
      </button>
    </div>
  </div>
</form>
