@import './styles/reset';
@import './styles/material';
@import './styles/status.scss';

.panel-title {
  color: $primary;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.panel-subtitle {
  color: $accent;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
