@import 'utils/colors';
@import 'utils/responsive';

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-toolbar {
  position: fixed;
  z-index: 2;
  height: 56px;
  min-height: 56px;
}

.main-toolbar /deep/ h1.main-app-name {
  margin-left: 8px;
  flex: 1;
}

.main-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

#sidenav {
  width: 250px;
  .sidenav_header_container {
    padding: 1rem 1rem 1rem;
    max-width: 250px;
    background-color: mat-color($primaryPalette, 50);
    color: $primary;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .user {
    padding: 1rem 1rem 1rem;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: mat-color($primaryPalette, 50);

    .name {
      font-weight: bold;
      max-width: 230px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
    }

    button.logout,
    button.logout:active,
    button.logout:hover,
    button.logout:focus {
      padding: 0;
      border: none;
      background: transparent;
      box-shadow: none;
      outline: none;
    }

    button.logout {
      align-self: flex-end;
      margin-top: 10px;
    }
  }
}

#sidePanel {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;

  .side-panel-header {
    padding: 1rem 0.5rem 1rem 1rem;
    display: flex;
    .push {
      flex: 1 0 auto;
    }
  }

  .side-panel-container {
    flex: 1 0 auto;
    padding: 0 2em 1em 2em;
  }
}

.header_container {
  flex: 1 1 auto;
}

.container {
  padding: 1rem;
}
