<div class="main-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()" [disabled]="sidePanel.opened">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-template #defaultHeader> <h1 class="main-app-name">Purple Fox EOR</h1> </ng-template>
      <ng-container *ngIf="headerTemplate; else defaultHeader">
        <ng-container
          *ngTemplateOutlet="headerTemplate; context: { disabled: snav.opened || sidePanel.opened }"
        ></ng-container>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    (backdropClick)="closeSide()"
    class="main-sidenav-container"
    [style.marginTop.px]="56"
  >
    <mat-sidenav id="sidenav" #snav [fixedInViewport]="true" fixedTopGap="56">
      <div class="user" *ngIf="(userInfo$ | async) as userInfo">
        <strong class="name">{{ userInfo.name }}</strong>
        <button mat-stroked-button color="accent" (click)="logout()" class="logout">Logout</button>
      </div>
      <mat-nav-list>
        <a mat-list-item (click)="snav.close()" [routerLink]="['']">Homepage</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
    <mat-sidenav
      [disableClose]="true"
      id="sidePanel"
      #sidePanel="matSidenav"
      position="end"
      [fixedInViewport]="true"
      fixedTopGap="56"
    >
      <div class="side-panel-header">
        <button mat-icon-button color="accent" class="side-panel-close">
          <mat-icon (click)="closeSide()">close</mat-icon>
        </button>
      </div>
      <div class="side-panel-container">
        <ng-container *ngTemplateOutlet="(sidePanelTemplate$ | async)"></ng-container>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
