:host {
  display: block;
}

.filter {
  display: inline-flex;
  align-items: center;
  flex: 1 0 auto;
  width: 45%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 1%;
  &:not(.active) {
    opacity: 0.5;
    border-style: dashed;
  }
  background: none;
  border: 1px solid black;
  outline: none;
}

.label {
  margin-left: 5px;
  &.smaller {
    font-size: smaller;
  }
}

.status {
  margin-bottom: 2rem;
  .block {
    width: 24px;
    height: 24px;
    border: 1px solid black;
  }
}

.extras {
  margin-bottom: 2em;
}

.disclaimer {
  font-style: italic;
  margin-bottom: 1em;
}
