<div class="panel-title">Filters & Sort</div>
<div class="panel-subtitle">Status</div>
<div class="status">
  <button class="filter" [class.active]="filters.displayUnknown" (click)="toggle('displayUnknown')">
    <div class="block"></div>
    <div class="label">Unknown</div>
  </button>
  <button class="filter" [class.active]="filters.displayPlaying" (click)="toggle('displayPlaying')">
    <div class="block playing"></div>
    <div class="label">Playing</div>
  </button>
  <button class="filter" [class.active]="filters.displayCovered" (click)="toggle('displayCovered')">
    <div class="block covered"></div>
    <div class="label">Covered</div>
  </button>
  <button class="filter" [class.active]="filters.displayDone" (click)="toggle('displayDone')">
    <div class="block done"></div>
    <div class="label">Done</div>
  </button>
</div>
<div class="panel-subtitle">Extras</div>
<div class="extras">
  <button class="filter" [class.active]="filters.onlyExtraTimed" (click)="toggle('onlyExtraTimed')">
    <mat-icon>alarm</mat-icon>
    <div class="label">Only time</div>
  </button>
  <button
    class="filter"
    [class.active]="filters.onlyStageHasNotPaper"
    (click)="toggle('onlyStageHasNotPaper')"
    *ngIf="!isOutstandings"
  >
    <mat-icon>desktop_access_disabled</mat-icon>
    <div class="label smaller">Only missing</div>
  </button>
</div>

<div class="panel-subtitle">Sort</div>
<p class="disclaimer">
  Be aware that sorted by something different than zone can lead to less reactive board
</p>
<mat-form-field>
  <mat-label>Sort by</mat-label>
  <mat-select (selectionChange)="changeSortBy($event.value)" [value]="sortBy">
    <mat-option value="zone">Sort by zone</mat-option>
    <mat-option value="time">Sort by time</mat-option>
  </mat-select>
</mat-form-field>
